.navbar li{
	list-style-type: none;
	display: inline-block;
}

.navbar a{
	font-size: 40px;
}


.nobullet{
	list-style-type: none;
}

/*
header{
	background-color: green;
}

#container{
	width: 100%;
	text-align: center;
}

#left{
	float: left;
	width: 100px;
}

#center{
	display: inline-block;
	margin: 0 auto;
	width: 100px;
}

#right{
	float: right;
	width: 100px;
	list-style: none;
}

nav li{
	list-style: none;
	float: left;
}
*/